
/*Body Styles*/
body{
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ********************************************************************************************************************************** */
/* General Styles*/
body, #header, #nav, #main, #footer{
    /*border: 1px solid;*/
    background-color: white;
    color: rgb(0,50,100);
}

#header, #footer, #nav, #main{
    padding: 0px 25%;
    text-align: center;
    clear:both;
}

/* ********************************************************************************************************************************** */
/*Header Styles*/
#header{
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom ,rgb(0, 100, 100),rgb(0,50,100));
    color: white;
    position: static;
    z-index: 1;
}

/* ********************************************************************************************************************************** */
/*Footer Styles*/
#footer{
    padding-top: 50px;
}

hr.line{
    border: 1px solid rgb(0,100,100);/*rgb(0, 50, 100);*/
}


/* ********************************************************************************************************************************** */
/* Navigation Styles*/
#nav{
    position: fixed;
    z-index: 2;
    background-color: rgb(0,100,100);
    height: 50px;
    width:100%;
    overflow: hidden;
}

/* ********************************************************************************************************************************** */
/* Main Styles*/
#main{
    text-align: left;
}

.image-container{
    text-align: center;
    float:left;
    padding: 10px 50px;
    width:40%;
    /*border:1px solid;*/
}

.image-container img{
    /*height: 250px;*/
    max-width: 90%;
}

.image-container video{
    /*height: 250px;*/
    max-width: 90%;
}

.image-caption{
    font-size: small;
}

.divider{
    clear:both;
    border: 0px;
}

.embedded-text{
    width:40%;
    float:left;
    padding-bottom: 50px;
}

.app-div{
    background-image: url("resources/matrix4.png"); /*image source: https://img.freepik.com/free-vector/creative-stream-binary-code-algorithm_87720-3492.jpg?size=626&ext=jpg*/
    text-align: left;
    float:left;
    padding: 10px 5px;
    width:40%;
    color: white;
    margin: 0px 5%;
    min-height: 300px;
    /*border:1px solid;*/
}

.app-div input, .app-div button{
    color: rgb(0, 100, 100);
    width:80%;
}

/* ********************************************************************************************************************************** */
/* Elements based on external sources*/
/* ********************************************************************************************************************************** */
/* overlay text on image: https://www.w3schools.com/howto/howto_css_image_text.asp*/
#main-image {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 25px;
}

#overlaid-text{
    position: absolute;
    top: 0%;
    /*top: 50%;*/
    transform: translate(-50%, 0%); /*Moved the text from the center to the top of the image*/
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    font-size: large;
    width:90%;
 }

.overlaid-text-bottom{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: small;
    width:90%;
 }


/* ********************************************************************************************************************************** */
/*Collapsible button, styling based on: https://www.w3schools.com/howto/howto_js_collapsible.asp*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color:rgb(0, 50, 100);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
} 

/* ********************************************************************************************************************************** */
/* Dropdown for elements of navigation bar, styling based on: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp*/
.dropdown {
    float: left;
    overflow: hidden;
    display: block;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

.dropdown .dropbtn a{
    text-decoration: none;
    color:white;
}
  
/* Add a background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:rgb(0, 50, 100);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: fixed; /*absolute;*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: inherit; /* black;*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* ********************************************************************************************************************************** */
/* Image Carousel: https://www.w3schools.com/howto/howto_js_slideshow.asp
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
    /*margin: 50px 0px;*/
}

.mySlides a{
    text-decoration: none;
    color: inherit;
}

/*.mySlides img{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}*/
  
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px;
  }

  /* Position the "prev button" to the left */
  .prev {
    left: 0;
    border-radius: 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    /*color: #f2f2f2;*/
    color: rgb(0, 50, 100);
    font-size: 15px;
    /*padding: 8px 0px;/*12px;*/
    /*position: absolute;*/ /* comment this out so that text sits below image*/
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* ********************************************************************************************************************************** */
/* Re-sizing for responsive design*/
/* ********************************************************************************************************************************** */
/*for 980px or less */
@media screen and (max-width: 980px) {
	#header, #footer, #nav, #main{
        padding: 0px 5%;
    }
    
    #header{
        padding-top: 75px;
        padding-bottom: 25px;
    }
}


/* ********************************************************************************************************************************** */
/* for 700px or less */
@media screen and (max-width: 700px) {
	#header, #footer, #nav, #main{
        padding: 0px 2.5%;
    }
    
    #header{
        padding-top: 75px;
        padding-bottom: 5px;
    }

    .image-container{
        width:90%;
        padding: 10px;
    }
    .embedded-text{
        width:90%;
    }
    .app-div{
        width:90%;
        padding: 10px;
    }
}

/* ********************************************************************************************************************************** */
/* for 480px or less */
@media screen and (max-width: 480px) {
	h1 {
		font-size: 24px;
    }
	h3 {
		font-size: 16px;
    }
    
    #nav{
        height:50px;
    }

    #image-text {
        font-size: medium;
    }

    .image-container{
        width:90%;
        padding: 10px;
    }
    .embedded-text{
        width:90%;
    }
    .app-div{
        width:90%;
        padding: 10px;
    }
}
